<!DOCTYPE html>
<html lang="en-NZ">
    <head>
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>

    <body>
        <nav class="vcentered gap font">
            <img src="https://assets.hackclub.com/flag-standalone.svg" width="128px" />
            <span class="wc-text">Wellington College</span>
        </nav>
        
        <main class="font">
            <%- include(content) %>
        </main>
    </body>
</html>