<div class="flex vcentered home">
    <div class="flex column centered">
        <span class="hackclub-text">Where students make cool stuff.</span>
        <span class="footer-text">Hack Club is the world's largest nonprofit movement of teenagers making cool projects.</span>
    </div>
</div>